<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>uploadFileServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFileServlet</servlet-name>
        <url-pattern>/file/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downloadFileServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.DownloadAndRemoveFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadFileServlet</servlet-name>
        <url-pattern>/file/download/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>filesListServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.FilesListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filesListServlet</servlet-name>
        <url-pattern>/file/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userRegistrationServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userSignInServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.UserSignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userSignInServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userSignOutServlet</servlet-name>
        <servlet-class>by.bsu.fpmi.second.dudkoAA.servlet.UserSignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userSignOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/exception.jsp</location>
    </error-page>
</web-app>
